{%extends "layout.html"%}
{%block heading %}
Did you want more??!

{% endblock %}

{%block body%}
<div class=main_div>
  <form class="center_form" action="{{url_for('create_acc')}}" method="post">
    <input type="text" name="username_reg" placeholder="enter a username">
    <p class="p_error">{{user_taken}}</p>
    <input type="password" name="password_reg" placeholder="choose you password">
    <input type="text" name="first_name_reg" placeholder="enter your first name">
    <input type="number" name="age_reg" placeholder="enter you age">
    <select class="" name="gender_reg">
      <option value="True">Male</option>
      <option value="False">Female</option>
    </select>
    <button>Submit!</button>
    <p style="color: red; visibility:{{create_acc_status}};"> PLEASE FILL ALL </p>
    <p style="color: red; visibility:{{user_used}};"> Usernam already in use </p>

  </form>
</div>
<!-- <a href="{{ url_for('index')}}">See less...</a>-->
{% endblock %}
